*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:#000;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 100vh;
    width: 365px;
    background: #2a005e;
    border-radius: 12px;
}
.top-layer{
    margin-top: 2rem;
    color: #fff;
    font-size: 2rem;
}
.top-layer-content{
    display: flex;
    justify-content: center;
    gap: 4.6rem;
    font-weight: bold;
}
.current-balance{
    margin-top: 2rem;
    margin-left: 4.5rem;
    color: #fff;
    line-height: 1.5;
}
.current-balance-text p{
    margin-left: 2.5rem;
    color: #666;
    font-size: 1.4rem;
}
.current-balance-amount p{
    font-size: 2rem;
}
.action-buttons{
    margin-top: 1.2rem;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    display: flex;
    justify-content: space-between;
}
.box{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #8183a0;
    outline: none;
}
.box span i{
    font-size: 2.5rem;
    color: #fff;
}
.action-buttons p{
    padding-top: .7rem;
    color: #fff;
}
.transactions{
    margin-top:4rem;
    margin-left: 3rem;
}
.transactions h3{
    color: #fff;
    font-size: 1.6rem;
}
.days{
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    gap: 2rem;
}
.days-box-1{
    height: 40px;
    width: 60px;
    border: none;
    border-radius: 6px;
    background-color: #560ab3;
}
.days-box-1 p{
    font-size: 2rem;
    padding-left: 1rem;
    color: #fff;
}
.days-box{
    height: 40px;
    width: 60px;
    border: 2px solid #666;
    border-radius: 6px;
}
.days-box p{
    font-size: 2rem;
    padding-left: 1rem;
    color: #fff;
}
.today{
    margin-top: 1.2rem;
    margin-left: 1.2rem;
}
.today h2{
    color: #fff;
    font-size: 1.5rem;
}
.expenses{
    margin-top: 1rem;
    margin-left: .7rem;
}
.boxe{
    height: 45px;
    width: 350px;
    background-color: #574272;
    border: none;
    outline: none;
    border-radius: 6px;
    display: flex;
    font-size: 1.9rem;
    color: #fff;
}
.person-name i{
    color: firebrick;
}
.amount{
    margin-left: 8rem;
}
.person-name-3 i{
    color: rgb(37, 177, 25);
}
.person-name-4 i{
    color: orange;
}
.amount-3{
    margin-left: 7rem;
}
.amount-4{
    margin-left: 7rem;
}
.current-spending{
    padding-left: 1.3rem;
    padding-top: 1.2rem;
    display: flex;
    gap: 1rem;
    color: #fff;
}
.buttons{
    padding-left: 3rem;
    padding-top: 0.7rem;
    display: flex;
    gap: 3rem;
}
.btn-1{
    padding: 7px 17px;
    border-radius: 9px;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #560ab3;
    color: #fff;
    font-size: 1.2rem;
}
.btn-2{
    padding: 7px 17px;
    border-radius: 9px;
    font-size: 1rem;
    border: 2px solid #560ab3;
    background: transparent;
    color: #fff;
    font-size: 1.2rem;
}